.seventhRow {
    margin-top: 100px;
}

.seventhRow .container {
    display: flex;
    align-items: center;    
}

.contact-title {
    width: 40%;
}

.contact-title h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
}

.contact-title p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
}

.contact-options h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
}

.contact-options h1 b {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.btn-contact button {
    width: 174px;
    height: 56px;
    background: #FDC212;
    border-radius: 50px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}